th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 100%;
}
.mat-form-field-appearance-standard {
  background-color: #E3E3E3;
}

.item-select {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  color: #006839;
  line-height: 30px;
  &__no-select {
    line-height: 30px;
  }
}
