.button-green {
  background-color: #006839;
  width: 9.75em;
  min-width: 10%;
  height: 100px;
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
  border: none;
  border-radius: 0px;
  &__large {
    background-color: #006839;
    font-style: normal;
    font-weight: 500;
    color: #ffffff;
    width: 12.5em;
    min-width: 10%;
    height: 70px;
    border: none;
    border-radius: 0px;
  }
  &__max-large {
    background-color: #006839;
    font-style: normal;
    font-weight: 500;
    color: #ffffff;
    width: 13.5em;
    min-width: 10%;
    height: 70px;
    border: none;
    border-radius: 0px;
  }
  &__disabled {
    background-color: #006839;
    font-style: normal;
    font-weight: 500;
    color: #ffffff;
    width: 13.5em;
    min-width: 10%;
    height: 70px;
    border: none;
    border-radius: 0px;
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.button-red {
  background-color: #c00;
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
  width: 12.5em;
  min-width: 10%;
  height: 70px;
  margin-left: 1em;
  border: none;
  border-radius: 0px;
}

.padding_left {
  padding-left: 0px !important;
}

.convocatoria {

  &__card {
    height: 200px;
  }
  &__title {
    padding-left: 20px;
    padding-right: 20px;
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    padding-top: 2.5em;
    padding-bottom: 1em;
  }
  &__subtitle {
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    padding: 0 auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
  }
  &__content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    &--item {
      width: 42%;
    }
    &--select {
      background-color: #E3E3E3;
      width: 100%;
      height: 100px;
      outline: none;
      border: none;
    }
    &--button {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      color: #ffffff;
      background-color: #006839;
      font-family: roboto, sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      // position: absolute;
      // right: -10px;
      // bottom: -70px;
      cursor: pointer;
    }
    &--button-delete {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      color: #ffffff;
      background-color: #c00;
      font-family: roboto, sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      // position: absolute;
      // right: -10px;
      // bottom: -70px;
      cursor: pointer;
      margin-right: 0.1em;
    }
    &--delete{
      font-weight: 900;
      color: #c00;
      cursor: pointer;
    }
  }
  &__content-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    padding-bottom: 1em;
    padding-top: 1em;
  }
  &__content-buttom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  &__card-aspirante {
    height: 300px;
  }
  &__card-large {
    height: max-content;
    padding-bottom: 2em;
    position: relative;
  }
}
.input-convocatoria {
  height: 100px;
  background-color: #E3E3E3;
  min-width: 40%;
  width: 100%;
  text-decoration: none;
}
.tamano-input {
  min-width: 100%;
}
.mat-form-field-appearance-legacy
.mat-form-field-infix {
  height: 100px;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.tamano-acordeon {
  width: 100%;
}
.margin-right {
  margin-right: 10px;
}

.convocatoria_disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.red-text {
  color: #c00;
}
.orange-text {
  color: #F7460D;  
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

input[type=number] { -moz-appearance:textfield; }
